<nav>
    <div class="name">Aishwarya Bathina</div>
    <ul>
        <li><a href="#education">Education</a></li>
        <li><a href="#work-experience">Experience</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li class="contact"><a href="#contact">Contact Me</a></li>
    </ul>
</nav>

<app-banner id="banner" appResponsive></app-banner>
<app-personal-information id="personal-information" appResponsive></app-personal-information>
<app-education id="education" appResponsive></app-education>
<app-work-experience id="work-experience" appResponsive></app-work-experience>
<app-skills id="skills" appResponsive></app-skills>
<app-projects id="projects" appResponsive></app-projects>
<app-contact id="contact" appResponsive></app-contact>
