<div class="container">
    <h1>Contact Details</h1>

     <ul class="social-media">
        <li><a href="mailto:aishwaryabathina98@gmail.com"><i class='bx bxl-gmail'></i></a></li>
        <li><a href="tel:+17044537486"><i class='bx bxs-phone'></i></a></li>
        <li><a href="https://github.com/AishwaryaBathina" target="_blank"><i class='bx bxl-github'></i></a></li>
        <li><a href="https://www.linkedin.com/in/aishwarya-bathina-83878016b/" target="_blank"><i class='bx bxl-linkedin'></i></a></li>        
    </ul>
</div>